<app-section [bgColor]="'bg-secondary'">
    <form action="mailto:berra_tech@hotmail.com" method="post" enctype="text/plain">
      Namn:<br>
      <input type="text" class="form-control" name="Namn" placeholder="t.ex. betalning">

        Meddelande:<br>
        <textarea class="form-control" type="text" name="Meddelande" size="50"></textarea>
        
        <div class="d-flex">
          <button type="reset" class="btn btn-secondary" value="Reset">Avbryt</button>        
          <button type="submit" class="btn btn-primary" value="Send">Skicka</button>
        </div>
    </form>
</app-section>