.icon {
    background-color: white;
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px grey;

}

.img-container {
    @media (max-width: 600px) {
        display: none;
    }
}

.text-container {
    @media (max-width: 600px) {
        width: 100%;
    }
}

.responsive-conatiner {
    @media (max-width: 600px) {
        flex-direction: column;
        .col-4 {
            margin-top: 3rem;
            width: 100%;
        }
    }
}

.icon:hover {
    transform: rotateY(360deg);
}

.icon {
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.fa-hand-holding-dollar, .fa-clock, .fa-stopwatch {
    font-size: 5rem;
}

.icon-desc {
    margin-top: 3rem;
}

.icon>i {
    margin-top: 3rem;
}

.list-group-middle {
    @media (min-width: 600px) {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

.scroll-in {
    position: relative;
    animation-name: fade-in;
    animation-duration: 4s;
      
    @keyframes fade-in {
        0%   {top:10rem;}
        100% {top:0px;}
    }
}