<app-header></app-header>


<app-section [bgColor]="'bg-secondary'">
    <div class="row my-5">
        <div class="col-6 d-flex align-items-center text-container">
            <div>
                <h3>Vill du synas på nätet?</h3>
                <p>
                    Välj en design som passar din verksamhet Vår lösning ger dig allt-i-ett.
                    I vår prisbelönta Sitebuilder kan du skapa en vacker hemsida, portfölj eller e-butik med bara några klick och driva trafik till din verksamhet.
                </p>
            </div>
        </div>
        <div class="col-6 img-container">
            <img src="https://images.unsplash.com/photo-1516542076529-1ea3854896f2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80" class="img-fluid" alt="Responsive image">
        </div>
    </div>
</app-section>

<app-section [bgColor]="'bg-dark'">
    <div class="row my-5">
        <div class="col-6 img-container">
            <img src="https://images.pexels.com/photos/4065624/pexels-photo-4065624.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="img-fluid" alt="Responsive image">
        </div>
        <div class="col-6 d-flex align-items-center text-container">
            <div>
            <h3>Så fort kommer du igång!</h3>
            <p class="font-weight-bold">Steg 1</p>
            <p>Välj ett av våra prisbelönta system.</p>
            <p class="font-weight-bold">Steg 2</p>
            <p>Fyll i företagsinformation.</p>
            <p class="font-weight-bold">Steg 3</p>
            <p>Välj betalnings metod. Inom 48 timmar är sidan uppe och snurrar! <i class="fa-solid fa-handshake"></i></p>
            </div>
        </div>
    </div>
</app-section>

<app-section [bgColor]="'bg-secondary'">
    <div class="row my-5 d-flex text-dark responsive-conatiner">
        <div class="col-4 d-flex justify-content-center">
            <div class="icon">
                <i class="fa-solid fa-stopwatch fa-2xl"></i>
                <p class="fw-bold icon-desc">Snabb service</p>   
            </div>
        </div>
        <div class="col-4 d-flex justify-content-center">
            <div class="icon">
                <i class="fa-solid fa-clock fa-2xl"></i>
                <p class="fw-bold icon-desc">Dygnet runt</p>
            </div>
        </div>
        <div class="col-4 d-flex justify-content-center">
            <div class="icon">
                <i class="fa-solid fa-hand-holding-dollar fa-2xl"></i>
                <p class="fw-bold icon-desc">Prisvärt</p>
            </div>
        </div>
    </div>
</app-section>

<app-section [bgColor]="'bg-dark'">
    <div class="d-flex justify-content-between responsive-conatiner">
        <div class="list-group">
            <h2 class="my-3">Resturang</h2>
            <a href="assets/example_websites/resturang/minimal-modern-design.html" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Enkel</h5>
                    <small>Singlepage</small>
                </div>
                <p class="mb-1">Enkel informations sida med länkar till sociala medier.</p>
            </a>
            <a href="assets/example_websites/resturang/multi-modern-resturang.html" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Modernline</h5>
                    <small>Singlepage</small>
                </div>
                <p class="mb-1">Advancerad och modern sida som uppfyller alla behov</p>
                <small><i class="fa-solid fa-star"></i> Vårt populäraste val</small>
            </a>
            <a href="assets/example_websites/resturang/multisida-resturang.html" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Retrostil</h5>
                    <small>Retro</small>
                </div>
                <p class="mb-1">Gammal still med bilder etc.</p>
                <small></small>
            </a>
          </div>

          <div class="list-group list-group-middle">
            <h2 class="my-3">Bilfirma</h2>
            <a href="assets/example_websites/bilfirma/simple-verkstad.html" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">Modern</h5>
                  <small>Singlepage</small>
                </div>
                <p class="mb-1">Detta är ett klart val då det erbjuder ett enkelt gränsnitt med all information som krävs</p>
                <small><i class="fa-solid fa-star"></i> Vårt populäraste val</small>
              </a>
              <a href="assets/example_websites/bilfirma/minimal-modern-design.html" class="list-group-item list-group-item-action flex-column align-items-start">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Enkel modern</h5>
                    <small>Singlepage</small>
                  </div>
                  <p class="mb-1">Enkel modern informations sida</p>
                  <small></small>
                </a>
          </div>

          <div class="list-group">
            <h2 class="my-3">Frisör</h2>
            <a href="assets/example_websites/frisor/minimal-modern-design.html" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">Enkel & modern</h5>
                  <small>Singlepage</small>
                </div>
                <p class="mb-1">Enkel modern informations sida</p>
                <small></small>
              </a>
          </div>
    </div>
    <p class="font-italic mt-5">
        <i class="fa-solid fa-circle-info"></i> Dessa är exempel på våra mest populära system. Vi kan så klart även bygga skräddarsydd lösningar för just ert behov.
    </p>
    <p class="font-italic">
        <i class="fa-solid fa-circle-exclamation"></i> Det tillkommer även avgifter för domain och webbhotel.
    </p>
</app-section>

<app-contact></app-contact>

<app-section [bgColor]="'bg-dark'">
    <div class="row">
        <h3>Kontakta oss vid frågor</h3>
        <p><span class="fw-bold">Mail: berra_tech@hotmail.com</span></p>
    </div>
</app-section>
