.img-container {
    @media (max-width: 600px) {
        display: none;
    }
}

.text-container {
    @media (max-width: 600px) {
        width: 100%;
    }
}

.list-group-middle {
    @media (min-width: 600px) {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

.scroll-in {
    position: relative;
    animation-name: fade-in;
    animation-duration: 4s;
      
    @keyframes fade-in {
        0%   {top:10rem;}
        100% {top:0px;}
    }
}