<app-section [bgColor]="'bg-secondary'">
    <div class="row my-5 d-flex text-dark responsive-conatiner">
        <div class="col-4 d-flex justify-content-center">
            <div class="icon" (click)="containerClicked(1)" [ngClass]="{'spinner': cirkel1Spinner}">
                <ng-container *ngIf="!cirkel1Content">
                    <i class="fa-solid fa-stopwatch fa-2xl"></i>
                    <p class="fw-bold icon-desc">Snabb service</p>
                </ng-container>
                <ng-container *ngIf="cirkel1Content">
                    <p class="fw-bold">Vi svarar inom samma dygn.</p>
                    <p class="fw-bold">Vanligtvis inom några timmar.</p>
                </ng-container>
            </div>
        </div>
        <div class="col-4 d-flex justify-content-center">
            <div class="icon" (click)="containerClicked(2)" [ngClass]="{'spinner': cirkel2Spinner}">
                <ng-container *ngIf="!cirkel2Content">
                    <i class="fa-solid fa-clock fa-2xl"></i>
                    <p class="fw-bold icon-desc">Dygnet runt</p>
                </ng-container>
                <ng-container *ngIf="cirkel2Content">
                    <p class="fw-bold">Vi leverar dygnet runt.</p>
                    <p class="fw-bold">Online tid på våra</p>
                    <p class="fw-bold">tjänster är 99,9%.</p>
                </ng-container>
            </div>
        </div>
        <div class="col-4 d-flex justify-content-center">
            <div class="icon" (click)="containerClicked(3)"[ngClass]="{'spinner': cirkel3Spinner}">
                <ng-container *ngIf="!cirkel3Content">
                    <i class="fa-solid fa-hand-holding-dollar fa-2xl"></i>
                    <p class="fw-bold icon-desc">Prisvärt</p>
                </ng-container>
                <ng-container *ngIf="cirkel3Content">
                    <p class="fw-bold">Vi har olika paket och </p>
                    <p class="fw-bold">betalplan som passar</p>
                    <p class="fw-bold">alla behov.</p>
                </ng-container>
            </div>
        </div>
    </div>
</app-section>